:root{
    --vermelho: #E50914;
    --preto: #141414;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--preto);
    font-family: 'Arial', Times, serif;
    color: white;

}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between
}

header .logo {
    color: var(--vermelho);
    font-family: "Arial Black", Times;
    font-size: 40px;
    margin-left: 5px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover{
    color: #fff;
}

/*filme principal*/
.filme-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.60),rgba(0,0,0,.50)100%), url('../img/capa-house.jpg');
    
    height: 55%;
    background-size: cover;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: flex-start;
}

.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .descricao{
    margin-bottom: 90px;
    margin-top: 10px;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border: none;
    color: white;

    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .5s ease all;
}

.filme-principal .botao i{
    margin-right: 8px;
    
}

.filme-principal .botao:hover{
    background-color: white;
    color: black;
}

.container{
    margin-left: 20px;

}

.filme-principal .container {
    width: 90%;
    margin-bottom: 5%;
}

.item {
    margin-top: 5px;
}